{% load static %}
<ul class="menu">
    {{ context.title }}
    <li><a href="{% url 'main' %}"
           class="{% if title == 'Магазин' %}
                active
                {% endif %}">домой</a></li>
    <li><a href="{% url 'products:main' %}"
           class="{% if title == 'Каталог' %}
                active
                {% endif %}">продукты</a></li>
    <li><a href="{% url 'contacts' %}"
           class="{% if title == 'Контакты' %}
                active
                {% endif %}">контакты</a></li>
</ul>