{% load static %}
<ul class="menu">
    {{ context.title }}
    <li><a href="{% url 'main' %}"
           class="{% if title == 'Магазин' %}
                active
                {% endif %}">домой</a></li>
    <li><a href="{% url 'products:main' %}"
           class="{% if title == 'Каталог' %}
                active
                {% endif %}">продукты</a></li>
    <li><a href="{% url 'contacts' %}"
           class="{% if title == 'Контакты' %}
                active
                {% endif %}">контакты</a></li>

    {% if user.is_authenticated %}
        <li>
            <a href="{% url 'auth:edit' %}">{{ user.first_name|default:'Пользователь' }}</a>
        </li>
        {% if basket %}
            <li>
                <a href="{% url 'basket:view' %}">Корзина</a>
                <span>
                    ({{ basket|length }} ед.)
                </span>
            </li>
        {% endif %}
    {% endif %}
    <li>
        {% if user.is_authenticated %}
            <a href="{% url 'auth:logout' %}">выйти</a>
        {% else %}
            <a href="{% url 'auth:login' %}">войти</a>
        {% endif %}
    </li>

</ul>